.section {
	background-color: #637081;
	color: white;

	h2 {
		margin-bottom: 20px;
		color: white;
	}
}

.wrapper {
	display: flex;
	gap: 5%;
}

.column {
	flex: 1 0 45%;

	img {
		width: 100%;
	}

	hr {
		margin: 40px 0;
		width: 50%;
	}
}
/* Mobile */

@media screen and (max-width: 768px) {
	.wrapper {
		flex-direction: column-reverse;
	}
}
